.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* text-colour */

.text-black{
    color: rgba(0, 0, 0, 1);
}
/* shared styles */
.display-flex{
    display: flex;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    width: 1140px;
    align-items: center;
    margin: 0 0 29px 0;
    
}
.nav-links{
    
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 415;
    color:rgba(0, 0, 0, 1);
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* responsive media query
@media screen and(max-width: 800px) {
    .navbar, .banner{
        flex-direction: column-reverse;
    }
} */

/* banner section */
.banner{
    align-items: center;
    width: 1140px;
}
.banner-title{
    font-size: 4rem;
}
.banner-description{
    font-size: 2rem;
}
.span{
    color: rgba(233, 90, 8, 1);
}
.our-plants{
    margin-top: 120px;
    width: 1140px;
    text-align: center;
    margin-left: 150px;
    align-items: center;
    margin-right: 150px;
}
.our-plants-headline{
    font-size: 3em;
    color: rgba(0, 0, 0, 1);
}
.our-plants-description{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    text-align: center;
   
}
.card-list{
    padding: 5%;
    margin: 5%;
    border: 1px solid white;
}
.btn-primary{
    padding: 20px 20px;
    background-color: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 5px;
}

/* flower&lover section */

.plants-flowers{
    margin: 210px 150px;
}
.badge{
    width: 100%;
    background:transparent;
    margin-top: -50px;
    margin-left: -650px;
    
}
.flower-headline{
    font-size: 3.12rem;
    padding-left: 50px;
}

.flower-description{
    color: rgba(0, 0, 0, 0.5);
    padding-left: 70px;
}

.join-section{
   background-image: url("/assets/news-letter-bg.png");
   width: 1440px;
   height: 400px;
}
.join-headline{
    font-size: 4rem;
    margin-left: auto;
    margin-top: 200px;
    text-align: center;
}
.join-input{
    margin-left: 300px;
    width: 644px;
    height: 50px;
}
#btn{
    width: 186px;
    height: 50px;
    /* gap: 10; */
    background: rgba(233, 90, 8, 1);
}
/* responsive */
@media screen and(max-width: 640px) {
   .banner{
   display: none;
   }
    
}